body{
    text-align: center;
    display: flex;
    flex-direction: column;
}

button{
    margin: 50px auto;
    width: 100px;
    padding: 10px;
    background: greenyellow;
    color: black;
    font-weight: bold;
}
button:hover{
    background-color: green;
    cursor: pointer;
}

#cadreDeJeu {
  display: block;
  margin: 20px auto;
}

#matchHistoryContainer {
  display: block;
  width: 500px;
  height: auto;
}

/* par défault */
section {
  display: none;
}

#goHome, #restart {
  display: none;
}