body {
  text-align: center;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.815);
  color: white;
}

button {
  margin: auto;
  width: 100px;
  padding: 10px;
  background: greenyellow;
  border-radius: 5px;
  border: none;
  color: black;
  box-shadow: 0px 0px 10px rgb(87, 150, 0);
  font-weight: bold;
}

button:hover {
  background-color: green;
  cursor: pointer;
}

#cadreDeJeu {
  display: block;
  margin: 20px auto;
  box-shadow: 0px 0px 10px rgb(87, 150, 0);
}



/* par défault */
section {
  display: none;
  flex-direction: column;
  gap: 50px;
}

input {
  width: 40%;
  margin: auto;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgb(87, 150, 0);
  border: none;
  border-radius: 5px;
}

input::placeholder {
  text-align: center;
  font-weight: bold;
}


/* home section c'est là où on display les meilleurs joueurs */
#bestPlayers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  width: 90%;
  border-radius: 10px;
  background-color: black;
  box-shadow: 0px 0px 10px rgb(87, 150, 0);
  padding: 10px;
  padding-bottom: 50px;
}

#bestPlayers>div {
  width: 90%;
  border-radius: 5px;
  margin: auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.842);
  box-shadow: 0px 0px 3px rgb(238, 255, 82);
}

#game {
  flex-direction: column;
  gap: 10px;
}

#goHome,
#restart {
  display: none;
}

#afterGameButton {
  display: flex;
  gap: 40px;
}


/* La partie pour la légende de qui est qui */
#legendInGame {
  width: 70%;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 30px;
  margin: auto;
}

#legendInGame>div {
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}



/* Style pour la partie MatchHistory */
#matchHistoryContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  width: 90%;
  border-radius: 10px;
  background-color: black;
  box-shadow: 0px 0px 10px rgb(87, 150, 0);
  padding: 10px;
  padding-bottom: 50px;
}

#matchHistoryContainer>div {
  width: 90%;
  border-radius: 5px;
  margin: auto;
}

.victoire,
.defaite,
.egalite {
  border-radius: 5px;
  padding: 10px;
}

.victoire {
  background-color: green;
}

.defaite {
  background-color: red;
}

.egalite {
  background-color: gray;
}

#stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  box-shadow: 0px 0px 10px rgb(87, 150, 0);
  width: 50%;
  margin: auto;
  padding: 10px;
}

#stats>div {
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  font-weight: bolder;
}

#victoires {
  background-color: green;
}

#defaites {
  background-color: red;
}

#egalites {
  background-color: gray;
}


/* CSS IN GAME */
.j1 {
  fill: blue;
}

.murj1{
  fill:darkblue;
}

.j2 {
  fill: red;
}

.murj2 {
  fill: darkred;
}

.j3 {
  fill: greenyellow;
}

.murj3 {
  fill: darkgreen;
}

.j4 {
  fill: rgb(222, 92, 255);
}

.murj4 {
  fill: rgb(114, 3, 114);
}