body {
  text-align: center;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.815);
  color: white;
}


button {
  margin: auto;
  width: 100px;
  padding: 10px;
  background: greenyellow;
  border-radius: 5px;
  border: none;
  color: black;
  box-shadow: 0px 0px 10px rgb(87, 150, 0);
  font-weight: bold;
}

button:hover {
  background-color: green;
  cursor: pointer;
}

#cadreDeJeu {
  display: block;
  margin: 20px auto;
  box-shadow: 0px 0px 10px rgb(87, 150, 0);
}

#matchHistoryContainer {
  width: 500px;
  height: auto;
}

/* par défault */
section {
  display: none;
  flex-direction: column;
  gap: 50px;
}

input {
  width: 40%;
  margin: auto;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgb(87, 150, 0);
  border: none;
  border-radius: 5px;
}

input::placeholder {
  text-align: center;
  font-weight: bold;
}



#game {
  flex-direction: column;
  gap: 10px;
}

#goHome,
#restart {
  display: none;
}

#afterGameButton {
  display: flex;
  gap: 40px;
}


/* La partie pour la légende de qui est qui */
#legendInGame {
  width: 70%;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 30px;
  margin: auto;
}

#legendInGame>div {
  display: flex;
  gap: 15px;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 40%;
}

#blue,
#red {
  aspect-ratio: 1/1;
  height: 70%;
  border-radius: 5px;
}

#blue {
  background-color: blue;
  border-radius: 1/2;
}

#red {
  background-color: red;
}