body{
    text-align: center;
    display: flex;
    flex-direction: column;
}
button{
    margin: 50px auto;
    width: 100px;
    padding: 10px;
    background: greenyellow;
    color: black;
    font-weight: bold;
}
button:hover{
    background-color: green;
    cursor: pointer;
}

#cadreDeJeu {
  display: block;
  width: 90vmin;
  height: 90vmin;
  border: 2px solid red;
  background-color: #111;
  margin: 20px auto;
}